<h1>Editing friend</h1>

<% form_for(@friend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @friend %> |
<%= link_to 'Back', friends_path %>